* {
  box-sizing: border-box;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

:root {
  --white-x: white;
  --purple-x: #6334ff;
  --gray-x: gray;
  --red-x: rgba(255, 0, 0, 1);
  --red-xx: rgba(255, 0, 0, 0.2);
  --yellow-x: rgba(131, 131, 0, 1);
  --yellow-xx: rgba(163, 163, 0, 0.2);
  --green-x: rgba(0, 128, 0, 1);
  --green-xx: rgba(0, 128, 0, 0.2);
  --purple-x: rgba(128, 0, 128, 1);
  --purple-xx: rgba(128, 0, 128, 0.2);
}

.app__container {
  max-width: 1300px;
  margin: 0 auto;
}

.purple-text {
  color: var(--purple-x);
  font-size: 1.5rem;
}

.app__wrapper {
  background-color: #bfbfbf;
  height: 100vh;
}
